$first: rgb(31, 87, 36);
$second: #8bcc7e;
$base-font-color: #fff;
body.green {
    background-color: lighten($second, 20%);
    color: $base-font-color;
    #calculator {
        background-color: $second;
    }
    #themePicker {
        background-color: $second;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
    }
    .display {
        color: $base-font-color;
        background-color: $first;
    }
    .keys {
        background-color: $first;
    }
    .keys button {
        background-color: $second;
        color: $base-font-color;
    }
    .bar {
        background: $first;
        border-bottom: 1px solid lighten( $first, 10%);
    }
    .equal {
        background-image: linear-gradient(to bottom, $first 50%, $second);
    }
}
