$primary: #DBDBDC;
$secondary: #5C5F64;
$tertiary: #5C5F64;
$base-font-color: #fff;
body.light {
    background-color: $primary;
    color: $base-font-color;
    .display {
        background-color: $secondary;
    }
    .keys {
        background-color: $tertiary;
    }
}
