@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

a {
  color: #fff;
  text-decoration: none;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

#settings {
  position: absolute;
  top: 5px;
  left: 6px;
}

#themePicker {
  display: none;
  position: absolute;
  top: 9px;
  left: 35px;
  z-index: 1;
  border-radius: 4px;
  padding: 10px;
}
#themePicker ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  justify-items: center;
}
#themePicker ul a.sizeSwitch.active,
#themePicker ul a.styleSwitch.active {
  color: #000;
  position: relative;
}
#themePicker ul a.sizeSwitch.active:before,
#themePicker ul a.styleSwitch.active:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: tomato;
  margin-left: 2px;
}
#themePicker a {
  display: inline-block;
  height: 20px;
  width: 20px;
}
#themePicker a[data-style=dark] {
  background: #34373E;
}
#themePicker a[data-style=light] {
  background: #fff;
}
#themePicker a[data-style=green] {
  background: green;
}
#themePicker a[data-style=pink] {
  background: pink;
}
#themePicker a[data-style=brown] {
  background: #88725D;
}
#themePicker a[data-style=regular] {
  border: 1px solid #000;
}
#themePicker a[data-style=large] {
  border: 1px solid #000;
  height: 30px;
  width: 30px;
}
#themePicker a.sizeSwitch.active[data-style=large]:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: tomato;
  margin-left: 6px;
  margin-top: 2px;
}

.display {
  font-size: 1.5em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.keys {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}
.keys button {
  border: 0;
  background-color: #fff;
  padding: 1em 1.25em;
  position: relative;
  text-align: center;
}

.keys > *:active::before,
.keys > .is-pressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.keys button.operator {
  background-color: #eee;
}

.equal {
  background-image: linear-gradient(to bottom, #F99C2A, #ff7033);
}

.zero {
  grid-column: 1/span 2;
}

.bar {
  color: white;
  padding: 5px;
}

#history {
  max-height: 150px;
  overflow: auto;
}

.fas {
  margin: 5px 10px 5px 3px;
}

.fa-toggle {
  transition: all 0.5s linear;
}

.rotate {
  transform: rotate(-180deg);
}

body.light {
  background-color: #c7c7c7;
  color: #322f2f;
}
body.light a {
  color: #322f2f;
}
body.light #calculator {
  background-color: #fff;
}
body.light #themePicker {
  background-color: #e0e0e0;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}
body.light .display {
  background-color: #e0e0e0;
}
body.light .keys {
  background-color: #e0e0e0;
}
body.light .keys button {
  background-color: #fff;
}
body.light .bar {
  background: #e0e0e0;
  border-bottom: 1px solid #fafafa;
}

body.dark {
  background-color: #999ba1;
  color: #fff;
}
body.dark #calculator {
  background-color: #66686e;
}
body.dark #themePicker {
  background-color: #66686e;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}
body.dark .display {
  color: #fff;
  background-color: #34373E;
}
body.dark .keys {
  background-color: #34373E;
}
body.dark .keys button {
  background-color: #66686e;
  color: #fff;
}
body.dark .bar {
  background: #34373E;
  border-bottom: 1px solid #4b505a;
}

body.green {
  background-color: #cde9c7;
  color: #1f5724;
}
body.green #calculator {
  background-color: #8bcc7e;
}
body.green #themePicker {
  background-color: #8bcc7e;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.7);
}
body.green .display {
  color: #1f5724;
  background-color: #2a7530;
  color: white;
}
body.green .keys {
  background-color: #1f5724;
}
body.green .keys button {
  background-color: #8bcc7e;
  color: #1f5724;
}
body.green .keys button.equal {
  background-image: none;
  background-color: #2a7530;
  color: white;
}
body.green .bar {
  background: #1f5724;
  border-bottom: 1px solid #2c7d34;
  color: #8bcc7e;
}

body.pink {
  background-color: #fcdaec;
}
body.pink #themePicker {
  background: #fcdaec;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.3);
}
body.pink #themePicker .styleTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: #433558;
}
body.pink #themePicker .stylePick {
  color: #433558;
}
body.pink #themePicker .stylePick.active {
  color: #f13397;
}
body.pink.regular .calculator {
  width: 273px;
}
body.pink.regular button {
  width: 56px;
  line-height: 56px;
  padding: 0;
}
body.pink.regular button.equal {
  border-radius: 90px;
}
body.pink.large .calculator {
  max-width: 480px;
}
body.pink.large .keys button {
  padding: 0;
  font-size: 2em;
  width: 6.5rem;
  line-height: 6.5rem;
}
body.pink.large .keys button.equal {
  border-radius: 90px;
}
body.pink .calculator {
  background-color: #745C97;
}
body.pink .display {
  background-color: transparent;
  color: white;
  font-size: 2.5em;
}
body.pink .keys {
  grid-gap: 8px;
  padding: 0 8px;
}
body.pink .keys .operator {
  background-color: #f67bbb;
  color: white;
}
body.pink .keys button {
  background-color: #F463AF;
  border-radius: 50%;
}
body.pink .keys button.zero {
  grid-column: 1;
}
body.pink .keys button.equal {
  background-color: #f13397;
  background-image: none;
  color: white;
  grid-column: 3/span 2;
  width: auto;
}
body.pink .history {
  color: white;
}
body.pink .bar {
  background-color: transparent;
}

body.brown {
  background-color: #d6cbc1;
}
body.brown #themePicker {
  background: #d6cbc1;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.3);
}
body.brown #themePicker .styleTitle {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}
body.brown #themePicker .stylePick {
  color: black;
}
body.brown #themePicker .stylePick.active {
  color: #89725b;
}
body.brown.regular .calculator {
  width: 273px;
}
body.brown.regular button {
  width: 56px;
  line-height: 56px;
  padding: 0;
}
body.brown.regular button.equal {
  border-radius: 90px;
}
body.brown.large .calculator {
  max-width: 480px;
}
body.brown.large .keys button {
  padding: 0;
  font-size: 2em;
  width: 6.5rem;
  line-height: 6.5rem;
}
body.brown.large .keys button.equal {
  border-radius: 90px;
}
body.brown .calculator {
  background-color: #362e2e;
}
body.brown .display {
  background-color: transparent;
  color: white;
  font-size: 2.5em;
}
body.brown .keys {
  grid-gap: 8px;
  padding: 0 8px;
}
body.brown .keys .operator {
  background-color: #ad9883;
  color: white;
}
body.brown .keys button {
  background-color: #a38b74;
  border-radius: 50%;
}
body.brown .keys button.zero {
  grid-column: 1;
}
body.brown .keys button.equal {
  background-color: #89725b;
  background-image: none;
  color: white;
  grid-column: 3/span 2;
  width: auto;
}
body.brown .history {
  color: white;
}
body.brown .bar {
  background-color: transparent;
}

body.regular .calculator {
  width: 355px;
}

body.large .calculator {
  width: 90%;
  font-size: 1.2em;
}
body.large .keys button {
  padding: 1.5em 1.25em;
  font-size: 1.2em;
}
